-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.row
  -# 3カラムレイアウト
  .col-3.col-xl-3.d-none.d-sm-block
    -# ----------------------------
    -# left sidebar
    -# ----------------------------
    = render 'layouts/left-slide-bar'
  .col-12.col-xl-6.d-block.main.px-0
    .wrapper.col-12.px-0
      .look_at_syllabus
        .col-12.btn.syllabus-area.px-0
          - if @school.present?
            = form_with model: @school, url: schools_path, local: true do |f|
              - @school.each do |s|
                .syllabus.col-12
                  .form-group
                    %i.fa.fa-home.menu-school
                    = f.label :school_class, '授業名', class: 'title'
                    %p= s.school_class
                  .form-group
                    %i.fa.fa-chalkboard-teacher
                    = f.label :name, '先生', class: 'title'
                    %p= s.name
                  .form-group
                    %i.fa.fa-heart{ style: 'color: rgb(255, 0, 0);' }
                    = f.label :evaluation, '授業に対する評価', class: 'title'
                    %p{style: 'color: rgb(255, 255, 0);'}= s.evaluation
                  .form-group
                    %i.fa.fa-file-alt
                    = f.label :test, 'テスト形式', class: 'title'
                    %p= s.test
                  %p= link_to 'Read more...', s, id: 'detail-' + s.id.to_s
          - else
            %h2 登録されている情報はありません。
  .col-3.col-xl-3.d-none.d-sm-block
    -# ----------------------------
    -# right sidebar
    -# ----------------------------
    = render 'layouts/right-slide-bar'