-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.container
  .row
    .wrapper
      = form_with model: @school, url: schools_path	, local: true do |f|
        .form-group
          = f.label :school_class, '授業名'
          = f.text_field :school_class, class: 'form-control'
        .form-group
          = f.label :name, '教授名'
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :content, '授業内容等'
          = f.text_area :content, class: 'form-control', row: 5
        .form-group
          = f.label :test, 'テスト形式'
          = f.select :test, [['テスト○持ち込み○', 'テスト○持ち込み○'], ['テスト○持ち込み×', 'テスト○持ち込み×'],['レポートのみ', 'レポートのみ'], ['その他', 'その他']]
        .form-group
          = f.label :evaluation, '評価'
          %p ※これは成績表の評価ではなく、あなた自身の思うこの授業への評価です。
          = f.select :evaluation, [['S', 'S'], ['A', 'A'],['B', 'B'], ['C', 'C'],['D', 'D'], ['E', 'E']]

        = f.submit '登録', class: 'btn btn-warning'
        %button.btn.btn-danger
          = link_to 'キャンセル', schools_path