-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.row
  -# 3カラムレイアウト
  .col-3.col-xl-3.d-none.d-sm-block
    -# ----------------------------
    -# left sidebar
    -# ----------------------------
    = render 'layouts/left-slide-bar'
  .col-12.col-xl-6.d-block.main.px-0
    .wrapper.col-12.px-0
      .look_at_syllabus
        .col-12.btn.syllabus-area.px-0
          %h2= @school.name
          %h2= @school.school_class
          %h2= @school.content
          %h2= @school.evaluation

          %p コメント
          -# コメント一覧
          - @comments.each do |c|
            %div
              -# user名
              - unless c.user.blank?
                %a{ :href => "#{users_path(c.user_id)}" }
              = c.user.name unless c.user.blank?
              %br/
              -# コメント内容
              = c.content

          -# コメント作成機能 ログインユーザーだけがコメントできる
          - if current_user
            = form_with(model: [@school, @comment], local: true) do |f|
              = f.text_area :content, class: 'form-control', rows: 5
              = button_tag type: 'submit', class: 'btn btn-primary float-right mt-1' do
                %i.far.fa-comments{ style: 'background-color: rgb(0,123,255);' }
                  コメントする
          - else
        
  .col-3.col-xl-3.d-none.d-sm-block
    -# ----------------------------
    -# right sidebar
    -# ----------------------------
    = render 'layouts/right-slide-bar'