-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.row
  -# 3カラムレイアウト
  .col-3.col-xl-3.d-none.d-sm-block
    -# ----------------------------
    -# left sidebar
    -# ----------------------------
    = render 'layouts/left-slide-bar'
  .col-12.col-xl-6.d-block.main.px-0
    .wrapper.col-12.px-0
      .look_at_syllabus
        .col-12.btn.px-0
          .syllabus-detail
            %i.fa.fa-home.menu-school
            %h4 授業名
            %p= @school.school_class
            %i.fa.fa-chalkboard-teacher
            %h4 先生
            %p= @school.name
            %i.fa.fa-heart{ style: 'color: rgb(255, 0, 0);' }
            %h4 授業に対する評価
            %p= @school.evaluation
            %h4 授業内容と感想
            %p= @school.content

          %div{ style: 'border-bottom: 1px solid rgb(47, 59, 68);' }
            %i.far.fa-comment{ 'data-toggle' => 'modal', 'data-target' => '#post', style: 'cursor: pointer;' }
            %i.fa.fa-heart
          -# コメント一覧
          - @comments.each do |c|
            .comment-list
              -# user名
              - unless c.user.blank?
                %a{ :href => "#{users_path(c.user_id)}" }
              = c.user.name unless c.user.blank?
              %br/
              -# コメント内容
              = c.content

          -# コメント作成機能 ログインユーザーだけがコメントできる モーダルウィンドウで非同期投稿している
          - if current_user
            #post.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
              .modal-dialog{:role => "document"}
                .modal-content
                  = form_with(model: [@school, @comment], local: true) do |f|
                    = f.text_area :content, class: 'form-control', rows: 5
                    = button_tag type: 'submit', class: 'btn btn-primary float-right mt-1' do
                      %i.far.fa-comments{ style: 'background-color: rgb(0,123,255);' }
                        コメントする
                      %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} 閉じる
          - else
        
  .col-3.col-xl-3.d-none.d-sm-block
    -# ----------------------------
    -# right sidebar
    -# ----------------------------
    = render 'layouts/right-slide-bar'