%nav.left-slide-bar.navbar-fixed-left.d-none.d-md-block.bg-light{ style: 'margin: 10px;' }
  .sidebar-stickey
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.slide-bar-menu{ style: 'padding: 30px; margin: 0 0 20px 100px;' }
          %i.fa.fa-home{ style: 'margin: 10px;' }
          = link_to 'Top', schools_path, class: 'slide-link-style'
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.slide-bar-menu{ style: 'padding: 30px; margin: 0 0 20px 100px;' }
          %i.fa.fa-school{ style: 'margin: 10px;' }
          = link_to 'Eco Link', 'https://www.wcl.eco.nihon-u.ac.jp/Portal/login/login.php?next=', class: 'slide-link-style', :target=>["_blank"]
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.slide-bar-menu{ style: 'padding: 30px; margin: 0 0 20px 100px;' }
          %i.fa.fa-solar-panel{ style: 'margin: 10px;' }
          = link_to 'Home Page', 'https://www.eco.nihon-u.ac.jp/', class: 'slide-link-style', :target=>["_blank"]
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.slide-bar-tweet{ style: 'padding: 30px; margin: 0 0 20px 100px;' }
          %i.fa.fa-pen-alt{ style: 'margin: 10px; background-color: rgb(29, 161, 242);' }
          = link_to 'Tweet', new_school_path, class: 'slide-link-style-tweet'
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.slide-bar-menu{ style: 'padding: 30px; margin: 0 0 20px 100px;' }
          %i.fa.fa-sign-in-alt{ style: 'margin: 10px;' }
          = link_to 'LogOut', logout_path, class: 'slide-link-style'